In [1]:
# No se puede convertir de string a float, dará error
real_str = "68,34"
real = float(real_str)

ValueError: could not convert string to float: '68,34'

In [2]:
# Por lo tanto, vamos a recurrir al comando (.replace())
real_str.replace(",",".")    # Este .replace() se aplicará solo a la variable real_str convirtiendo las comas por los puntos

'68.34'

In [4]:
nuevo_str = real_str.replace(",",".") # Nos convertira a <class 'str'>
print(type(nuevo_str))

<class 'str'>

In [5]:
# Ahora podemos hacer el cambio de tipo
real = float(nuevo_str)
print(real, type(real))

68.34 <class 'float'>

In [6]:
# Comando (input())
primer_input = input("Escribeme algo mi arma")

Escribeme algo mi arma 98

In [7]:
print(primer_input)

98

In [9]:
type(primer_input)

str

In [ ]:
nombre = input("¿Cómo te llamas alma cándida de Dios?")
print("Encantado de conocerte", nombre)
preferencias = input("Y, ¿qué te parece este mágnifico vídeo?")
print("Coincido")

¿Cómo te llamas alma cándida de Dios? José

Encantado de conocerte José

In [11]:
# Comando (None())
print(None)

None

In [12]:
print(type(None))

<class 'NoneType'>

In [13]:
"" == None

False

In [14]:
0 == None

False