In [2]:
# *Strings*
# Con comillas dobles
cadena = "Esto es una variable de tipo string"

# Con comillas simples
cadena_2 = 'Esto es una variable de tipo string en comillas simples'
print(cadena)
print(cadena_2)

Esto es una variable de tipo string
Esto es una variable de tipo string en comillas simples

In [3]:
print("String con 'simples'")
print('String con "dobles"')
print("String con \"simples o dobles\"")

String con 'simples'
String con "dobles"
String con "simples o dobles"

In [5]:
print("Primera linea\nSegunda Linea\n\tTercera Linea, tabulada")

Primera linea
Segunda Linea
	Tercera Linea, tabulada

In [9]:
mi_string = "Primera Linea\nSegunda Linea\n\tTercera Linea, tabulada"
print(mi_string)

Primera Linea
Segunda Linea
	Tercera Linea, tabulada

In [11]:
nombre ="José"
apellido = "Yaya"
espacio = " "

nombre_apellido = nombre + espacio + apellido
print(nombre_apellido)

José Yaya

In [12]:
esto_es_una_prueba = "Pues eso, que estamos jugando"
un_entero = 100
print(esto_es_una_prueba + un_entero)

TypeError: can only concatenate str (not "int") to str

In [16]:
#Booleano:
True

True

In [15]:
ya_se_de_python = False
print(type(ya_se_de_python))

<class 'bool'>

In [17]:
dinerito = 5
dinerito >= 15

False

In [20]:
dinerito = 15
cond_1 = dinerito >= 15
print(cond_1)
print(type(cond_1))

True
<class 'bool'>