In [3]:
num_real = 24.69 # Es un numero float
print(type(num_real))

num_entero = int(num_real) # Se requiere convertir el float a un int (numero entero)
print(num_entero)
print(type(num_entero))

<class 'float'>
24
<class 'int'>

In [6]:
# Esta función (round()) tiene dos argumentos: el número, el cual queremos redondear y la cantidad de decimales que queremos conservar
# Veremos funciones más adelante.
num_real = 24.686
num_redondeado = round(num_real,2)
print(num_redondeado)

24.69

In [7]:
num_redondeado = 24.69
num_convertido = round(num_redondeado,0)
print(num_convertido, type(num_convertido))

25.0 <class 'float'>

In [11]:
print(int(num_convertido), "su tipo ", type(int(num_convertido)))

25 su tipo  <class 'int'>

In [13]:
num_real = 24.69
num_entero = 12

# Convertir un float o int a string
real_str = str(num_real)
entero_str = str(num_entero)

print(real_str,  "su tipo ", type(real_str))
print(entero_str, "su tipo ", type(entero_str))

24.69 su tipo  <class 'str'>
12 su tipo  <class 'str'>

In [15]:
# Ver la suma de un númerp real y un número entero, y la suma de un real sting con un entero sting:
print(num_real + num_entero) # Esta operación sumara 24.69 + 12 = 36.69
print(real_str + entero_str) # Esta operación al ser un String, entonces concanetará los número (debido al signo +), sería 24.69 y 12 = 24.6912

36.69
24.6912

In [19]:
# Convertir de String a un número tampoco suele haber problema. Hay que tener cuiado con los puntos decimales. *Puntos, NO comas*
mi_cadena ="98" # Esto es un string
mi_entero = int(mi_cadena) # Esto convierte a un int
print(mi_cadena, type(mi_cadena))
print(mi_entero, type(mi_entero))

mi_cadena_real = "98,33" # Si se colocara 98,33 (con COMA) dará un error, NO puede convertir de una cadena a un float. Se DEDE utilizar un PUNTO 
mi_real = float(mi_cadena_real)

98 <class 'str'>
98 <class 'int'>

ValueError: could not convert string to float: '98,33'

In [30]:
# Cambiando la COMA por el PUNTO
mi_cadena_real = "98.64" # Si se colocara 98.33 (con PUNTO) NO dará un error. 
mi_real = float(mi_cadena_real)
print(mi_real, type(mi_real))

98.64 <class 'float'>

In [25]:
# Pasar de un número a boleano y viciversa. Tener en cuenta que los 0s (ceros) son False, y el resto de números equivalen a un True
booleano = bool(123)
print(booleano, type(booleano)) # El resultado dará True <class 'bool'> porque el número es DISTINTO de CERO

True <class 'bool'>

In [27]:
# Probemos con el CERO
booleano = bool(0)
print(booleano, type(booleano)) # El resultado dará False <class 'bool'> porque el número NO es DISTINTO de CERO

False <class 'bool'>

In [29]:
booleano = bool("")
booleano_2 = bool("Esto es otro tipo de booleano al hacer la conversión")
print(booleano, type(booleano))
print(booleano_2, type(booleano))

False <class 'bool'>
True <class 'bool'>

In [ ]:
# Convertir de booleano a string